.main {
  padding: 30px;
  padding-top: 150px;
}
.text {
  &__blue {
    color: blue;
  }
}

.list {
  &__category {
    li {
      margin: 10px 0px;
    }
  }
  &__blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    li {
    }
    &__img {
      width: 100%;
      height: 200px;
      background-color: lightgray;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.pagination {
  text-align: center;
  li {
    display: inline-block;
    margin: 5px;
  }
}
